*{
    box-sizing: border-box;
}
.nav nav-tabs{
    justify-content: end;
}
.carousel > .carousel-inner > .carousel-item > img{
    width:70%; 
    height:85vh;
}
.lay{
    position: relative;
    /* display: inline-block;  */
  }
  
  .side img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85vh;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for opacity */
    opacity: 0.3;
  
  }
.releases{
    margin: 20px;
    display: flex;
    justify-content: space-between;
}
.place{
    position: relative;
    display: inline-block;
    width:100%;
    height: 30vh;
    justify-content: space-between;
    padding: 5px;
}
/* .Shop:before{
    font-family: FontAwesome;
    content: "\f217";
    top: 11px;
    left: -30px;
} */
.place :hover{
    filter: brightness(70%);
    transition: 1.5s;
}
.place img{
    height: 30vh;
    width: 100%;
    position: relative;
}
.Shop{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000; 
  padding: 30px;
  color: white;
  border-radius: 50%;
  display: none; /* Initially hidden */
} 
.place:hover .Shop {
    display: block; /* Display the cart icon on hover */
  }
.place > .Shop a{
    text-decoration: none; 
    color: white;
}
 
@media (max-width: 600px){
    .place{
        height: 25vh;
    }
    .place img{
        height: 25vh;
    }
    .Shop{
        padding: 15px;
      } 

}      
  

/* @media (min-width: 768px){

} */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
